@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

body {
    background-color: #303336;
    font-family: "Bitcount Single", system-ui;
    text-align: center;
    margin: 0;
    padding: 2px;
}

h2, h1, h3, a, ul, li, p, small{
    color: aquamarine;
}

h5 {
    color: rgb(218, 123, 123);
}

.btn {
    border-radius: 2em;
    padding: .75em;
    background-color: aquamarine;
    color: blue;
    text-decoration: none;
}

.btn-sec {
    background-color: aqua;
    color: blueviolet;
}


.home-banner {
    padding: 3rem;
}

.home-buttons {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

a {
    text-decoration: none;
    text-align: center;
}
.stipend-section {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 5rem;
}

.expense-section {
    flex: 1;
    padding: 2rem;
    border: 4px groove #ff08;
;
}

.chart-section {
    flex: 3;
    padding: 2rem;
}

.expense-chart {
    margin: 1rem;
    width: 100%;
    height: 20vh;
}

