{% extends 'budgetize/base.html' %}

{% block title %}About Budgetize{% endblock %}

{% block content %}
<h1>This is my About Page for my budgetting app</h1>

<p>Here you can find information about the app and its features and the thingsi havent added to the app yet.</p>

<p>Features included:</p>
<ul>
    <li>Add your monthly salaries</li>
    <li>Add your expenses</li>
    <li>View a list of your expenses</li>
    <li>Update and delete salaries and expenses</li>
</ul>

<p>Features to be added:</p>
<ul>
    <li>Graphs and visualizations of your budget</li>
    <li>Monthly summaries and reports</li>
    <li>Budget planning tools</li>
    <li>Notifications for upcoming bills</li>
</ul>
<p>Stay tuned for more updates!</p>

{% endblock %}