{% extends "budgetize/base.html" %}

{% block title %}
    {{title}}
{% endblock title %}
        
{% block content %}
    <article class="media content-section">
        <div class="media-body">     

            <a class="btn btn-secondary btn-sm mt-1" href="{% url 'expense-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1" href="{% url 'expense-delete' object.id %}">Delete</a>
            <br>
            <br>
            <small class="text-muted">From base of {{ object.salary }} on {{ object.date_incurred }}</small>
            <h2 class='author-title'>${{ object.amount }}</h2>
            <p class="article-content">{{ object.description }}</p>
        </div>
    </article>            
{% endblock content %}