{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Salary Details{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 pb-3">Pay Day Is HEREEEE!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-3 pb-3">
                <button class="btn btn-outline-info" type="submit">Save</button>   
            </div>
        </form>

    </div>
    

{% endblock %}